body{
    background-image: url(../imagens/cev-landscape.jpg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 100vw;
}