body{
    background-image: url(../imagens/cev-portrait.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 100vw;

}