@charset "UTF-8";

html, body{
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}

header{
    display: none;
}

footer{
    display: none;
}

main::after{
    content: 'Versão para impressão!';
}