@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: gray;
}

#burguer{
    text-align: center;
    background-color: rgb(189, 188, 188);
    padding: 10px;
}

#burguer:hover{
    background-color: white;
}

header h1{
    text-align: center;
    padding: 20px;
    color: white;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.329);
}


#menu{
    background-color: rgb(31, 31, 31);
}

.material-icons{
    cursor: pointer;
}

li{
    list-style-type: none;
    padding: 10px;
    text-align: center;
    border: solid 1px gray;  
}

a{
    text-decoration: none;
    color: white;
}

body{
    background-color: rgb(189, 188, 188);
}

main{
    margin: 20px;
}

main h1{
    margin: 20px 0px;
    text-align: center;
}

article{
    width: 80vw;
    max-width: 600px;
    margin: auto;
    text-align: justify;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.301);
}

footer{
    background-color: rgb(31, 31, 31);
    color: white;
}

footer p{
    text-align: center;
    padding: 20px;
    font-size: 12px;
}