@charset "UTF-8";

body{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    max-width:1280px;
    margin: 0 auto;
    background-color: rgb(194, 194, 193);
    color: rgb(0, 0, 0);
}

body .modo-escuro{
    background-color: black;
    color: aliceblue;
}

header{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
}

.logo,
.botao{
    width: 30px;
    transition: 0.2s ease-in-out;
}

header #botao-alterar-tema{
    background: none;
    border: none;
    cursor:pointer;
}

header .logo:hover,
header .botao:hover, 
main .cartao-pokemon:hover{
    transform: scale(1.05);
    cursor: pointer;
}

main .cartao-pokemon{
    padding: 25px;
}

main .lista-pokemon{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .cartao-pokemon{
    background-color: aliceblue;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 20px;
    transition:0.2s ease-in-out;
}
main .cartao-pokemon:hover{
    background-color: aquamarine;
}

.modo-escuro .cartao-pokemon{
    background-color: rgb(180, 180, 202);

}

main .cartao-pokemon .informacoes{
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 10px;
}

main .cartao-pokemon .informacoes span{
    padding: 5px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

main .cartao-pokemon .gif{
    width: 80px;
    height: 80px;
}

main .cartao-pokemon .tipos{
    display: flex;
    gap: 10px; 
}

.grama{
    padding: 8px;
    border-radius: 10px;
    background-color: greenyellow;
    
}

.veneno{
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(183, 109, 252);
}

.fogo{
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(255, 145, 0);
}

.agua{
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(0, 140, 255);
}

.voador{
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(212, 210, 210);
}

.inseto{
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(255, 238, 0);
}

main .descricao{
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    
}